
.categories__add {
  margin-top: 30px;
}

.categories__container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}


.categories__list, .subcategories__list {
    list-style: none;
}

.categories__list li {
    margin-top: 20px;
}

